<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Phantasma - Next-Generation Email</title>

    <!-- Bootstrap core CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom fonts for this template -->
    <link href="css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic" rel="stylesheet" type="text/css">
    <link href='https://fonts.googleapis.com/css?family=Cabin:700' rel='stylesheet' type='text/css'>
	
	<link href="https://fonts.googleapis.com/css?family=Audiowide" rel="stylesheet"> 
	<link href="https://fonts.googleapis.com/css?family=Geo" rel="stylesheet"> 

    <!-- Custom styles for this template -->
    <link href="css/style.css" rel="stylesheet">
    <link href="css/animate.min.css" rel="stylesheet">

	<script src="js/particles.js"></script>	
	<script src="js/wow.min.js"></script>	
  </head>

  <body id="page-top">


	<div id="particles-js"  style="  position: absolute;
	position:absolute;
	left:0;
	top:0;
	width: 100%;
	height: 100%;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: 50% 50%;
	opacity: 0.25;"></div>
			
			<script>
particlesJS.load('particles-js', 'js/particles.json', function() {
  console.log('callback - particles.js config loaded');
});
</script>
  
    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-light fixed-top" id="mainNav">
      <div class="container">
        <a class="navbar-brand js-scroll-trigger brand-font" href="#page-top"><img src="img/phantasma_logo_vector.png" width="32" style="margin-top: -4px;" /> Phantasma Protocol</a>
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          Menu
          <i class="fa fa-bars"></i>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="#about">About</a>
            </li>
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="#crowdsale">Crowdsale</a>
            </li>
            <!--<li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="#download">Download</a>
            </li>-->
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="#roadmap">Roadmap</a>
            </li>
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="#team">Team</a>
            </li>
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="#faq">FAQ</a>
            </li>
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="#contact">Contact</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>

    <!-- Intro Header -->
    <header class="masthead">
      <div class="intro-body">
        <div class="container">					
		  <div class="overlay"> </div>
		  		 
          <div class="row">		  
            <div class="col-lg-8 mx-auto">
              <h1 class="brand-heading brand-font animated fadeIn">Phantasma</h1>
			  <p><img class="animated jackInTheBox" src="img/phantasma_logo_vector.png" class="wow animated fadeIn" width="320" /></p>
              <p class="intro-text" style="color:rgb(88,101,120)">Next-generation email, using the power of the NEO blockchain.
                <br>Decentralized, free, fast and secure.</p>
              <a href="#about" class="btn btn-circle js-scroll-trigger" >
                <i class="fa fa-angle-double-down animated" style="	color:rgb(88,101,120)"></i>
              </a>
            </div>
          </div>
		  
		  
        </div>
      </div>
    </header>


    <!-- About Section -->
    <section id="about" class="content-section text-center">
      <div class="container">
        <div class="row">
          <div class="col-lg-10 mx-auto animated fadeIn wow">
            <h2>What is Phantasma</h2>
            <p>Relying in third party services for something as critical and personal like email is dangerous.<br>Companies can be hacked, bankruptcies can happen and goverment entities can force access into emails.<br><br><strong>Phantasma</strong> brings an complete email system running in the blockchain. And the best part, it still works exactly like you expect email to work.</p>
		  </div>
		 </div>
		 
		<div class="row">  
			<div class="col-lg-10 mx-auto animated tada wow">
				<p><img src="img/phantasma_logo_vector.png" width="280" /></p>
			</div>			
		 </div>

		 <div class="row-space"></div>
		 
		<div class="row">
		  <div class="col-lg-6 mx-auto animated fadeIn wow">
			<h4><i class="fa fa-user fa-fw"></i> You are the owner</h4><hr>
            <p class="text-left"><strong>Phantasma</strong> runs on top of a crypto-wallet address, using the NEO blockchain.<br>You own the wallet private key, thus you own the mailbox content.</p><p class="text-left">Everything is encrypted, and without the private key nobody can read it or steal it from you, not even the <strong>Phantasma</strong> developers.
			</p>
          </div>

		<div class="col-lg-6 mx-auto animated fadeIn wow">
			<h4><i class="fa fa-file fa-fw"></i> Not only for email</h4><hr>
            <p class="text-right">Email in the current state is built on top of an legacy system with decades of existence. <strong>Phantasma</strong> breaks free from that system, and introduces a new protocol for content.<p><p class="text-right">Here come's a new way to distribute messages, photos, invoices, movies and more!</p>
        </div>

		 <div class="row-space"></div>

		 <div class="col-lg-6 mx-auto animated fadeIn wow">
			<h4><i class="fa fa-road fa-fw"></i> Gateway to the outside</h4><hr>
            <p class="text-left">Unlike competitors, <strong>Phantasma</strong> mailboxes are standard email addresses, thus can communicate with email systems outside the blockchain.</p><p class="text-left">Besides that, <strong>Phantasma</strong> can do more than email, so other outside systems can be potentially be connected to a <strong>Phantasma</strong> mailbox.</p>
        </div>
		  		  
		<div class="col-lg-6 mx-auto animated fadeIn wow">
			<h4><i class="fa fa-btc fa-fw"></i> A new way to pay</h4><hr>
			<p class="text-right"><strong>Phantasma</strong> makes leverage of the NEO blockchain features, which makes possible to transparently transfer assets between users, since every <strong>Phantasma</strong> mailbox is also a NEO wallet.</p><p class="text-right">With the introduction of the invoice messages, users will be able to request money from other <strong>Phantasma</strong> users easily.</p>
		</div>
		  
		 <div class="row-space"></div>

		 <div class="col-lg-6 mx-auto animated fadeIn wow">
			<h4><i class="fa fa-share-alt fa-fw"></i> Powered by IPFS</h4><hr>
            <p class="text-left"><strong>Phantasma</strong> is using <a href="https://ipfs.io/">IPFS</a>, a distributed file-system that we use as storage backend. The use of an out-of-chain distributed file system lets us keep the NEO blockchain free from bloat, and at the same time lets us keep the GAS cost low when interacting with smart contracts, letting us have a free and fast communication platform.</p><p class="text-left">And of course, while distributed, all file content used with the <strong>Phantasma</strong> is encrypted to ensure that no one has access to it except yourself.</p>
        </div>
		  		  
		<div class="col-lg-6 mx-auto animated fadeIn wow">
			<h4><i class="fa fa-recycle fa-fw"></i> Run your own nodes</h4><hr>
			<p class="text-right">Decentralization is the modus operandi of <strong>Phantasma</strong>, thus any organization or individual is encouraged to run his own nodes.</p><p class="text-right">Thanks to the token ecosystem created by <strong>Phantasma</strong>, node-operators who run their own <strong>Phantasma</strong> services will be reap rewards in form of PHI tokens.</p>
		</div>

        </div>
      </div>
    </section>

    <!-- Whitelist Section -->
    <section id="crowdsale" class="grey-section content-section text-center">
      <div class="container">
        <div class="col-lg-8 mx-auto">
          <h2>Phantasma Crowdsale</h2>
          <p>The <strong>Phantasma</strong> crowdsale will be conducted via a smart-contract running in the NEO blockchain.<br>You will need a NEO wallet in order to participate, check the <a class="js-scroll-trigger" href="#faq">FAQ</a> for more info.</p>
		  		  
			<div id="clockdiv">
			  <div>
				<span class="days"></span>
				<div class="smalltext">Days</div>
			  </div>
			  <div>
				<span class="hours"></span>
				<div class="smalltext">Hours</div>
			  </div>
			  <div>
				<span class="minutes"></span>
				<div class="smalltext">Minutes</div>
			  </div>
			  <div>
				<span class="seconds"></span>
				<div class="smalltext">Seconds</div>
			  </div>
			</div>
        </div>
			
        <div class="col-lg-8 mx-auto">
			<p>Join the whitelist to have access to the crowdsale!</p>
		
			<p>			
                <a href="#" class="btn btn-default btn-lg animated pulse wow" data-toggle="modal" data-target="#whitelistModal">
                  <i class="fa fa-sign-in fa-fw"></i>				  
                  <span class="network-name">Join</span>
                </a>
			</p>			
        </div>
			
		
      </div>
    </section>

    <!-- Download Section -->
	<!--
    <section id="download" class="grey-section content-section text-center">
      <div class="container">
        <div class="col-lg-8 mx-auto">
          <h2>Download Phantasma App</h2>
          <p>Download Phantasma here. It's free!</p>
		  <p><img src="img/app_template.png" width="300px" /></p>
          <a href="http://startbootstrap.com/template-overviews/grayscale/" class="btn btn-default btn-lg">Android</a>
		  <a href="http://startbootstrap.com/template-overviews/grayscale/" class="btn btn-default btn-lg">iOS</a>
		  <a href="http://startbootstrap.com/template-overviews/grayscale/" class="btn btn-default btn-lg">Windows</a>
        </div>
      </div>
    </section>-->

    <!-- Roadmap Section -->
	<section id="roadmap" class="content-section text-center">
      <div class="container">    
        <div class="row">
          <div class="col-lg-8 mx-auto">
            <h2>Platform Roadmap</h2>	  
				<p>The development of the <strong>Phantasma</strong> platform will be divided into multiple phases.<br>This roadmap is intendend as an outline for how <strong>Phantasma</strong> intends to continue extending and expanding the platform to achieve the overall goal of decentralized communication.</p>
				 <ul class="timeline">
				 
					<li><div class="tldate">March 2017</div></li>				
					<li>
					  <div class="tl-circ animated tada wow""><img src="img/phantasma_logo_vector.png" width="20" /></div>
					  <div class="timeline-panel animated fadeInLeft wow">
						<div class="tl-heading">
						  <h4>Initial R&amp;D</h4><hr>
						  <!--<p><small class="text-muted"><i class="glyphicon glyphicon-time"></i> some time ago</small></p>-->
						</div>
						<div class="tl-body">
						  <p>Research and development of the <strong>Phantasma</strong> protocol and Blockchain technology.</p>
						</div>
					  </div>
					</li>
					
					<li><div class="tldate">September 2017</div></li>				
					<li class="timeline-inverted">
					  <div class="tl-circ animated tada wow""><img src="img/phantasma_logo_vector.png" width="20" /></div>
					  <div class="timeline-panel animated fadeInRight wow">
						<div class="tl-heading">
						  <h4>City Of Zion Submission</h4><hr>
						</div>
						<div class="tl-body">
						  <p><strong>Phantasma</strong> submitted to City of Zion dApps contest.</p>
						</div>
					  </div>
					</li>
					
					<li><div class="tldate">October 2017</div></li>				
					<li>
					  <div class="tl-circ animated tada wow""><img src="img/phantasma_logo_vector.png" width="20" /></div>
					  <div class="timeline-panel animated fadeInLeft wow">
						<div class="tl-heading">
						  <h4>Public Announcement</h4><hr>
						</div>
						<div class="tl-body">
						  <p>Crowdsale announcement, start of marketing phase.</p>
						</div>
					  </div>
					</li>
					
					<li class="timeline-inverted">
					  <div class="tl-circ animated tada wow""><img src="img/phantasma_logo_vector.png" width="20" /></div>
					  <div class="timeline-panel animated fadeInRight wow">
						<div class="tl-heading">
						  <h4>Whitepaper Release</h4><hr>
						</div>
						<div class="tl-body">
						  <p>Release of the <strong>Phantasma</strong> whitepaper to the public.</p>			
						</div>
					  </div>
					</li>

					<li><div class="tldate">November 2017</div></li>
					
					<li>
					  <div class="tl-circ animated tada wow""><img src="img/phantasma_logo_vector.png" width="20" /></div>
					  <div class="timeline-panel animated fadeInLeft wow">
						<div class="tl-heading">
						  <h4>City of Zion Results</h4><hr>
						</div>
						<div class="tl-body">
						  <p>Winners of the City of Zion competition will be announced.</p>			
						</div>
					  </div>
					</li>
					<li class="timeline-inverted">
					  <div class="timeline-panel animated fadeInRight wow">
						<div class="tl-heading">
							<h4>Phantasma App - Beta release</h4><hr>
							
						</div>
						<div class="tl-body">
						  <p>A beta version of the <strong>Phantasma</strong> mobile app will be released, showcasing the core features.</p>
						</div>
					  </div>
					</li>
					<li>
					  <div class="tl-circ animated tada wow""><img src="img/phantasma_logo_vector.png" width="20" /></div>
					  <div class="timeline-panel animated fadeInLeft wow">
						<div class="tl-heading">
						  <h4>Crowdsale Start</h4><hr>
						</div>
						<div class="tl-body">
						  <p>Crowdsale will open via NEO smart contract. Only individuals who signed up to the whitelist can participate.</p>
						</div>
					  </div>
					</li>
					<li class="timeline-inverted">
					  <div class="timeline-panel animated fadeInRight wow">
						<div class="tl-heading">
							<h4>Crowdsale End</h4><hr>
						</div>
						<div class="tl-body">
						  <p>PHI tokens will be distributed to participants of the crowdsale, and refunds from sales over the cap will be processed.</p>
						</div>
					  </div>
					</li>
					
					<li><div class="tldate">Q1 2018</div></li>
				
					<li>
					  <div class="tl-circ animated tada wow""><img src="img/phantasma_logo_vector.png" width="20" /></div>
					  <div class="timeline-panel animated fadeInLeft wow">
						<div class="tl-heading">
						  <h4>Exchange Trading</h4><hr>
						</div>
						<div class="tl-body">
						  <p>The PHI token will be available for trade in exchanges.</p>
						</div>
					  </div>
					</li>				

					<li class="timeline-inverted">
					  <div class="tl-circ animated tada wow""><img src="img/phantasma_logo_vector.png" width="20" /></div>
					  <div class="timeline-panel animated fadeInRight wow">
						<div class="tl-heading">
						  <h4>Phantasma Gateway</h4><hr>
						</div>
						<div class="tl-body">
						  <p>Official release of <strong>Phantasma</strong> Gateway, to allow any individual or company to run their own <strong>Phantasma</strong> node.</p>
						</div>
					  </div>
					</li>
					
					<li>
					  <div class="tl-circ animated tada wow""><img src="img/phantasma_logo_vector.png" width="20" /></div>
					  <div class="timeline-panel animated fadeInLeft wow">
						<div class="tl-heading">
						  <h4>Protocol Update - Files</h4><hr>
						</div>
						<div class="tl-body">
						  <p>Adds a new message type to the protocol, allowing sending of files.</p>
						</div>
					  </div>
					</li>				
					
					<li class="timeline-inverted">
					  <div class="tl-circ animated tada wow""><img src="img/phantasma_logo_vector.png" width="20" /></div>
					  <div class="timeline-panel animated fadeInRight wow">
						<div class="tl-heading">
						  <h4>Phantasma App - Official Launch</h4><hr>
						</div>
						<div class="tl-body">
						  <p>Release of the official <strong>Phantasma</strong> mobile app for iOS and Android, improved with feedback from the community.</p>
						</div>
					  </div>
					</li>

					<li><div class="tldate">Q2 2018</div></li>
					<li>
					  <div class="tl-circ animated tada wow""><img src="img/phantasma_logo_vector.png" width="20" /></div>
					  <div class="timeline-panel animated fadeInLeft wow">
						<div class="tl-heading">
						  <h4>Protocol Update - Invoices</h4><hr>
						</div>
						<div class="tl-body">
						  <p>Adds a new message type to the protocol, allowing sending invoices, donations and payments.</p>
						</div>
					  </div>
					</li>

					<li class="timeline-inverted">
					  <div class="tl-circ animated tada wow""><img src="img/phantasma_logo_vector.png" width="20" /></div>
					  <div class="timeline-panel animated fadeInRight wow">
						<div class="tl-heading">
						  <h4>Third-Party Integration</h4><hr>
						</div>
						<div class="tl-body">
						  <p>Start of work to integrate third-party services, eg: plugins for existing email clients.</p>
						</div>
					  </div>
					</li>
					
					
				</ul>	
				
				<p>The roadmap above is subject to change, according with user demand and market conditions.</p>
				</div>
			</div>
		</div>
	</section>		
	
    <!-- Team Section -->
    <section id="team" class="grey-section content-section text-center">
      <div class="container">
        <div class="row">		
			<div class="col-lg-12">
				<h2>Our Team</h2>
				  <div class="row pt-md">
				  
					<div class="col-lg-3 col-md-3 col-sm-4 col-xs-12 profile animated jackInTheBox wow">
					  <div class="img-box">
						<img src="http://nabeel.co.in/files/bootsnipp/team/2.jpg" class="img-responsive">
						<ul class="text-center">
						  <a href="#"><li><i class="fa fa-linkedin"></i></li></a>
						</ul>
					  </div>
					  <h1>Sérgio Flores</h1>
					  <h2>Co-Founder / Engineer</h2>
					  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
					</div>
					
					<div class="col-lg-3 col-md-3 col-sm-4 col-xs-12 profile animated jackInTheBox wow">
					  <div class="img-box">
						<img src="http://nabeel.co.in/files/bootsnipp/team/1.jpg" class="img-responsive">
						<ul class="text-center">
						  <a href="#"><li><i class="fa fa-facebook"></i></li></a>
						  <!--<a href="#"><li><i class="fa fa-twitter"></i></li></a>
						  <a href="#"><li><i class="fa fa-linkedin"></i></li></a>-->!
						</ul>
					  </div>
					  <h1>Sérgio Pereira</h1>
					  <h2>Co-founder/ Economist</h2>
					  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
					</div>
					
					<div class="col-lg-3 col-md-3 col-sm-4 col-xs-12 profile animated jackInTheBox wow">
					  <div class="img-box">
						<img src="http://nabeel.co.in/files/bootsnipp/team/3.jpg" class="img-responsive">
						<ul class="text-center">
						  <a href="#"><li><i class="fa fa-facebook"></i></li></a>
						  <!--<a href="#"><li><i class="fa fa-twitter"></i></li></a>
						  <a href="#"><li><i class="fa fa-linkedin"></i></li></a>-->!
						</ul>
					  </div>
					  <h1>Alexandre Paixão</h1>
					  <h2>Marketing</h2>
					  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
					</div>
					<div class="col-lg-3 col-md-3 col-sm-4 col-xs-12 profile animated jackInTheBox wow">
					  <div class="img-box">
						<img src="http://nabeel.co.in/files/bootsnipp/team/5.jpg" class="img-responsive">
						<ul class="text-center">
						  <a href="#"><li><i class="fa fa-facebook"></i></li></a>
						  <!--<a href="#"><li><i class="fa fa-twitter"></i></li></a>
						  <a href="#"><li><i class="fa fa-linkedin"></i></li></a>-->!
						</ul>
					  </div>
					  <h1>Tatiana Andrade</h1>
					  <h2>Head of Analytics</h2>
					  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
					</div>
					<div class="col-lg-3 col-md-3 col-sm-4 col-xs-12 profile animated jackInTheBox wow">
					  <div class="img-box">
						<img src="http://nabeel.co.in/files/bootsnipp/team/4.jpg" class="img-responsive">
						<ul class="text-center">
						  <a href="#"><li><i class="fa fa-facebook"></i></li></a>
						  <!--<a href="#"><li><i class="fa fa-twitter"></i></li></a>
						  <a href="#"><li><i class="fa fa-linkedin"></i></li></a>-->!
						</ul>
					  </div>
					  <h1>Tiago Silva</h1>
					  <h2>Web Developer</h2>
					  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
					</div>
					<div class="col-lg-3 col-md-3 col-sm-4 col-xs-12 profile animated jackInTheBox wow">
					  <div class="img-box">
						<img src="http://nabeel.co.in/files/bootsnipp/team/6.jpg" class="img-responsive">
						<ul class="text-center">
						  <a href="#"><li><i class="fa fa-facebook"></i></li></a>
						  <!--<a href="#"><li><i class="fa fa-twitter"></i></li></a>
						  <a href="#"><li><i class="fa fa-linkedin"></i></li></a>-->!
						</ul>
					  </div>
					  <h1>João Matos</h1>
					  <h2>Backend Developer</h2>
					  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
					</div>
					<div class="col-lg-3 col-md-3 col-sm-4 col-xs-12 profile animated jackInTheBox wow">
					  <div class="img-box">
						<img src="http://nabeel.co.in/files/bootsnipp/team/6.jpg" class="img-responsive">
						<ul class="text-center">
						  <a href="#"><li><i class="fa fa-facebook"></i></li></a>
						  <!--<a href="#"><li><i class="fa fa-twitter"></i></li></a>
						  <a href="#"><li><i class="fa fa-linkedin"></i></li></a>-->!
						</ul>
					  </div>
					  <h1>Tiago Flores</h1>
					  <h2>Mobile Developer</h2>
					  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
					</div>					
					<div class="col-lg-3 col-md-3 col-sm-4 col-xs-12 profile animated jackInTheBox wow">
					  <div class="img-box">
						<img src="http://nabeel.co.in/files/bootsnipp/team/7.jpg" class="img-responsive">
						<ul class="text-center">
						  <a href="#"><li><i class="fa fa-facebook"></i></li></a>
						  <!--<a href="#"><li><i class="fa fa-twitter"></i></li></a>
						  <a href="#"><li><i class="fa fa-linkedin"></i></li></a>-->!
						</ul>
					  </div>
					  <h1>Anastasya Gladkova</h1>
					  <h2>Community Manager</h2>
					  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
					</div>
				</div>			
			</div>
			
			<div class="col-lg-12">
				<h2>Advisors</h2>
				  <div class="row pt-md">
				  
					<div class="col-lg-3 col-md-3 col-sm-4 col-xs-12 profile animated jackInTheBox wow">
					  <div class="img-box">
						<img src="http://nabeel.co.in/files/bootsnipp/team/2.jpg" class="img-responsive">
						<ul class="text-center">
						  <a href="#"><li><i class="fa fa-linkedin"></i></li></a>
						</ul>
					  </div>
					  <h1>Edward Snowden</h1>
					  <h2>Co-Founder / Engineer</h2>
					  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
					</div>
					
					<div class="col-lg-3 col-md-3 col-sm-4 col-xs-12 profile animated jackInTheBox wow">
					  <div class="img-box">
						<img src="http://nabeel.co.in/files/bootsnipp/team/1.jpg" class="img-responsive">
						<ul class="text-center">
						  <a href="#"><li><i class="fa fa-facebook"></i></li></a>
						  <!--<a href="#"><li><i class="fa fa-twitter"></i></li></a>
						  <a href="#"><li><i class="fa fa-linkedin"></i></li></a>-->!
						</ul>
					  </div>
					  <h1>Sérgio Pereira</h1>
					  <h2>Co-founder/ Economist</h2>
					  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
					</div>
					
					<div class="col-lg-3 col-md-3 col-sm-4 col-xs-12 profile animated jackInTheBox wow">
					  <div class="img-box">
						<img src="http://nabeel.co.in/files/bootsnipp/team/3.jpg" class="img-responsive">
						<ul class="text-center">
						  <a href="#"><li><i class="fa fa-facebook"></i></li></a>
						  <!--<a href="#"><li><i class="fa fa-twitter"></i></li></a>
						  <a href="#"><li><i class="fa fa-linkedin"></i></li></a>-->!
						</ul>
					  </div>
					  <h1>Alexandre Paixão</h1>
					  <h2>Marketing</h2>
					  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
					</div>
					<div class="col-lg-3 col-md-3 col-sm-4 col-xs-12 profile animated jackInTheBox wow">
					  <div class="img-box">
						<img src="http://nabeel.co.in/files/bootsnipp/team/5.jpg" class="img-responsive">
						<ul class="text-center">
						  <a href="#"><li><i class="fa fa-facebook"></i></li></a>
						  <!--<a href="#"><li><i class="fa fa-twitter"></i></li></a>
						  <a href="#"><li><i class="fa fa-linkedin"></i></li></a>-->!
						</ul>
					  </div>
					  <h1>Tatiana Andrade</h1>
					  <h2>Head of Analytics</h2>
					  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
					</div>
				</div>			
			</div>
			
        </div>
      </div>
    </section>
	
    <!-- FAQ Section -->
    <section id="faq" class="content-section text-center">
      <div class="container">
        <div class="row">
          <div class="col-lg-8 mx-auto">
            <h2>Frequently Asked Questions</h2>
			
				<div class="panel-group" id="faqAccordion">
					<div class="panel panel-default ">
						<div class="panel-heading accordion-toggle question-toggle collapsed" data-toggle="collapse" data-parent="#faqAccordion" data-target="#question0">
							 <h5 class="panel-title"><a href="#" class="ing">How do I participate in the crowdsale?</a></h5>

						</div>
						<div id="question0" class="panel-collapse collapse" style="height: 0px;">
							<div class="panel-body">
								 <!--<h5><span class="label label-primary">Answer</span></h5>-->

								<p>To participate in the token sale, you first must register in the <a class="js-scroll-trigger" href="#crowdsale">whitelist</a>, then when the crowdsale start you must send us NEO tokens using a compatible NEO wallet. Our wallet address will be sent via email before the token sale. For more information on the contribution process, check out our <a href="#">guide</a>.
								<br><br>
								To obtain NEO tokens, buy from an exchange, such as Binance or Bittrex. Once NEO tokens have been obtained from the exchange, transfer NEO to your personal wallet.
								</p>
							</div>
						</div>
					</div>
					<div class="panel panel-default ">
						<div class="panel-heading accordion-toggle collapsed question-toggle" data-toggle="collapse" data-parent="#faqAccordion" data-target="#question1">
							 <h5 class="panel-title"><a href="#" class="ing">Can I send NEO tokens from an exchange for the token sale?</a></h5>

						</div>
						<div id="question1" class="panel-collapse collapse" style="height: 0px;">
							<div class="panel-body">
								<p>NO – any tokens sent from an exchange to the token sale wallet will most likely be lost.<br><br>
								NEO tokens must be sent using NEO wallet compatible with crowdsales. Check out our <a href="#">guide</a> for more information.</p>
							</div>
						</div>
					</div>
					<div class="panel panel-default ">
						<div class="panel-heading accordion-toggle collapsed question-toggle" data-toggle="collapse" data-parent="#faqAccordion" data-target="#question2">
							 <h5 class="panel-title"><a href="#" class="ing">What exactly is Phantasma?</a></h5>

						</div>
						<div id="question2" class="panel-collapse collapse" style="height: 0px;">
							<div class="panel-body">
								<p>Phantasma is a new protocol for sending messages from one source to one or multiple destinations. With Phantasma it is possible to implement emails and other message-based systems on top of a blockchain.</p>
							</div>
						</div>
					</div>
					
					<div class="panel panel-default ">
						<div class="panel-heading accordion-toggle collapsed question-toggle" data-toggle="collapse" data-parent="#faqAccordion" data-target="#question3">
							 <h5 class="panel-title"><a href="#" class="ing">What is the use of the PHI tokens?</a></h5>

						</div>
						<div id="question3" class="panel-collapse collapse" style="height: 0px;">
							<div class="panel-body">
								<p>TODO</p>
							</div>
						</div>
					</div>

					<div class="panel panel-default ">
						<div class="panel-heading accordion-toggle collapsed question-toggle" data-toggle="collapse" data-parent="#faqAccordion" data-target="#question3">
							 <h5 class="panel-title"><a href="#" class="ing">What incentive do people have to buy PHI?</a></h5>

						</div>
						<div id="question3" class="panel-collapse collapse" style="height: 0px;">
							<div class="panel-body">
								<p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable. If you are going to use a passage of Lorem Ipsum, you need to be sure there isn't anything embarrassing hidden in the middle of text. </p>
							</div>
						</div>
					</div>

					<div class="panel panel-default ">
						<div class="panel-heading accordion-toggle collapsed question-toggle" data-toggle="collapse" data-parent="#faqAccordion" data-target="#question3">
							 <h4 class="panel-title">
								<a href="#" class="ing">Q: Where can I get some?</a>
						  </h4>

						</div>
						<div id="question3" class="panel-collapse collapse" style="height: 0px;">
							<div class="panel-body">
								<p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable. If you are going to use a passage of Lorem Ipsum, you need to be sure there isn't anything embarrassing hidden in the middle of text. </p>
							</div>
						</div>
					</div>
					
				</div>
				<!--/panel-group-->			
			  </div>
		  </div>
      </div>
    </section>
	
    <!-- Contact Section -->
    <section id="contact" class="grey-section content-section text-center">
      <div class="container">
        <div class="row">
          <div class="col-lg-8 mx-auto">
            <h2>Join the Phantasma community</h2>
            <p>Want to know more about the project?<br>Feel free to leave us a comment in one of the social hubs below!</p>
            <ul class="list-inline banner-social-buttons">
              <li class="list-inline-item">
                <a href="https://twitter.com/phantasma_io" class="btn btn-default btn-lg animated fadeIn wow">
                  <i class="fa fa-twitter fa-fw"></i>
                  <span class="network-name">Twitter</span>
                </a>
              </li>
              <li class="list-inline-item">
                <a href="https://github.com/relfos/phantasma" class="btn btn-default btn-lg animated fadeIn wow">
                  <i class="fa fa-github fa-fw"></i>
                  <span class="network-name">Github</span>
                </a>
              </li>
              <li class="list-inline-item">
                <a href="http://phantasma.slack.com/" class="btn btn-default btn-lg animated fadeIn wow">
                  <i class="fa fa-slack fa-fw"></i>
                  <span class="network-name">Slack</span>
                </a>
              </li>
				<li class="list-inline-item">
                <a href="https://www.reddit.com/r/phantasma" class="btn btn-default btn-lg animated fadeIn wow">
                  <i class="fa fa-reddit fa-fw"></i>
                  <span class="network-name">Reddit</span>
                </a>
              </li>			  
            </ul>
          </div>
        </div>
      </div>
    </section>

	<!-- Modal -->
<div id="whitelistModal" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">		
        <h4 class="modal-title"><img  src="img/phantasma_logo_vector.png" width="32" style="margin-top:-6px; margin-right:10px;" />Phantasma - Whitelist Registration</h4>
      </div>
      <div class="modal-body" id="whitelistContent">
		<form id="whitelistForm" role="form">

			<div class="form-group">
				<label for="whitelist_name">Full Name</label>
				<input type="text" class="form-control" id="whitelist_name" aria-describedby="walletHelp" placeholder="Your name..." data-minlength="5" required />
				<div class="help-block with-errors"></div>
			</div>		 		 
			<div class="form-group">
				<label for="whitelist_email">Email address</label>
				<input type="email" class="form-control" id="whitelist_email" aria-describedby="emailHelp" placeholder="Your email..." required />
				<div class="help-block with-errors"></div>
				<small id="emailHelp" class="form-text text-muted">We'll notify you of the crowdsale and other news via email.</small>				
			</div>		 		 
			<div class="form-group">
				<label for="exampleInputEmail1">NEO wallet address</label>
				<input type="text" class="form-control" id="whitelist_wallet" aria-describedby="walletHelp" placeholder="Your wallet address..." pattern="^A[A-z0-9]{1,}$" data-minlength="10" maxlength="48" data-error="Not a valid NEO address!" required />
				<div class="help-block with-errors"></div>
				<small id="walletHelp" class="form-text text-muted">Contributions to the crowdsale must be sent from this address.</small>
			</div>		 		 
			<div class="form-group">
				<label for="whitelist_country">Country</label>
				<select class="form-control" id="whitelist_country" required>
					<option value="">Select an country</option>
					<option value="AF">Afghanistan</option>
					<option value="AX">Åland Islands</option>
					<option value="AL">Albania</option>
					<option value="DZ">Algeria</option>
					<option value="AS">American Samoa</option>
					<option value="AD">Andorra</option>
					<option value="AO">Angola</option>
					<option value="AI">Anguilla</option>
					<option value="AQ">Antarctica</option>
					<option value="AG">Antigua and Barbuda</option>
					<option value="AR">Argentina</option>
					<option value="AM">Armenia</option>
					<option value="AW">Aruba</option>
					<option value="AU">Australia</option>
					<option value="AT">Austria</option>
					<option value="AZ">Azerbaijan</option>
					<option value="BS">Bahamas</option>
					<option value="BH">Bahrain</option>
					<option value="BD">Bangladesh</option>
					<option value="BB">Barbados</option>
					<option value="BY">Belarus</option>
					<option value="BE">Belgium</option>
					<option value="BZ">Belize</option>
					<option value="BJ">Benin</option>
					<option value="BM">Bermuda</option>
					<option value="BT">Bhutan</option>
					<option value="BO">Bolivia, Plurinational State of</option>
					<option value="BQ">Bonaire, Sint Eustatius and Saba</option>
					<option value="BA">Bosnia and Herzegovina</option>
					<option value="BW">Botswana</option>
					<option value="BV">Bouvet Island</option>
					<option value="BR">Brazil</option>
					<option value="IO">British Indian Ocean Territory</option>
					<option value="BN">Brunei Darussalam</option>
					<option value="BG">Bulgaria</option>
					<option value="BF">Burkina Faso</option>
					<option value="BI">Burundi</option>
					<option value="KH">Cambodia</option>
					<option value="CM">Cameroon</option>
					<option value="CA">Canada</option>
					<option value="CV">Cape Verde</option>
					<option value="KY">Cayman Islands</option>
					<option value="CF">Central African Republic</option>
					<option value="TD">Chad</option>
					<option value="CL">Chile</option>
					<!--<option value="CN">China</option>-->
					<option value="CX">Christmas Island</option>
					<option value="CC">Cocos (Keeling) Islands</option>
					<option value="CO">Colombia</option>
					<option value="KM">Comoros</option>
					<option value="CG">Congo</option>
					<option value="CD">Congo, the Democratic Republic of the</option>
					<option value="CK">Cook Islands</option>
					<option value="CR">Costa Rica</option>
					<option value="CI">Côte d'Ivoire</option>
					<option value="HR">Croatia</option>
					<!--<option value="CU">Cuba</option>-->
					<option value="CW">Curaçao</option>
					<option value="CY">Cyprus</option>
					<option value="CZ">Czech Republic</option>
					<option value="DK">Denmark</option>
					<option value="DJ">Djibouti</option>
					<option value="DM">Dominica</option>
					<option value="DO">Dominican Republic</option>
					<option value="EC">Ecuador</option>
					<option value="EG">Egypt</option>
					<option value="SV">El Salvador</option>
					<option value="GQ">Equatorial Guinea</option>
					<option value="ER">Eritrea</option>
					<option value="EE">Estonia</option>
					<option value="ET">Ethiopia</option>
					<option value="FK">Falkland Islands (Malvinas)</option>
					<option value="FO">Faroe Islands</option>
					<option value="FJ">Fiji</option>
					<option value="FI">Finland</option>
					<option value="FR">France</option>
					<option value="GF">French Guiana</option>
					<option value="PF">French Polynesia</option>
					<option value="TF">French Southern Territories</option>
					<option value="GA">Gabon</option>
					<option value="GM">Gambia</option>
					<option value="GE">Georgia</option>
					<option value="DE">Germany</option>
					<option value="GH">Ghana</option>
					<option value="GI">Gibraltar</option>
					<option value="GR">Greece</option>
					<option value="GL">Greenland</option>
					<option value="GD">Grenada</option>
					<option value="GP">Guadeloupe</option>
					<option value="GU">Guam</option>
					<option value="GT">Guatemala</option>
					<option value="GG">Guernsey</option>
					<option value="GN">Guinea</option>
					<option value="GW">Guinea-Bissau</option>
					<option value="GY">Guyana</option>
					<option value="HT">Haiti</option>
					<option value="HM">Heard Island and McDonald Islands</option>
					<option value="VA">Holy See (Vatican City State)</option>
					<option value="HN">Honduras</option>
					<option value="HK">Hong Kong</option>
					<option value="HU">Hungary</option>
					<option value="IS">Iceland</option>
					<option value="IN">India</option>
					<option value="ID">Indonesia</option>
					<!--<option value="IR">Iran, Islamic Republic of</option>-->
					<option value="IQ">Iraq</option>
					<option value="IE">Ireland</option>
					<option value="IM">Isle of Man</option>
					<option value="IL">Israel</option>
					<option value="IT">Italy</option>
					<option value="JM">Jamaica</option>
					<option value="JP">Japan</option>
					<option value="JE">Jersey</option>
					<option value="JO">Jordan</option>
					<option value="KZ">Kazakhstan</option>
					<option value="KE">Kenya</option>
					<option value="KI">Kiribati</option>
					<option value="KP">Korea, Democratic People's Republic of</option>
					<option value="KR">Korea, Republic of</option>
					<option value="KW">Kuwait</option>
					<option value="KG">Kyrgyzstan</option>
					<option value="LA">Lao People's Democratic Republic</option>
					<option value="LV">Latvia</option>
					<option value="LB">Lebanon</option>
					<option value="LS">Lesotho</option>
					<option value="LR">Liberia</option>
					<option value="LY">Libya</option>
					<option value="LI">Liechtenstein</option>
					<option value="LT">Lithuania</option>
					<option value="LU">Luxembourg</option>
					<option value="MO">Macao</option>
					<option value="MK">Macedonia, the former Yugoslav Republic of</option>
					<option value="MG">Madagascar</option>
					<option value="MW">Malawi</option>
					<option value="MY">Malaysia</option>
					<option value="MV">Maldives</option>
					<option value="ML">Mali</option>
					<option value="MT">Malta</option>
					<option value="MH">Marshall Islands</option>
					<option value="MQ">Martinique</option>
					<option value="MR">Mauritania</option>
					<option value="MU">Mauritius</option>
					<option value="YT">Mayotte</option>
					<option value="MX">Mexico</option>
					<option value="FM">Micronesia, Federated States of</option>
					<option value="MD">Moldova, Republic of</option>
					<option value="MC">Monaco</option>
					<option value="MN">Mongolia</option>
					<option value="ME">Montenegro</option>
					<option value="MS">Montserrat</option>
					<option value="MA">Morocco</option>
					<option value="MZ">Mozambique</option>
					<option value="MM">Myanmar</option>
					<option value="NA">Namibia</option>
					<option value="NR">Nauru</option>
					<option value="NP">Nepal</option>
					<option value="NL">Netherlands</option>
					<option value="NC">New Caledonia</option>
					<option value="NZ">New Zealand</option>
					<option value="NI">Nicaragua</option>
					<option value="NE">Niger</option>
					<option value="NG">Nigeria</option>
					<option value="NU">Niue</option>
					<option value="NF">Norfolk Island</option>
					<option value="MP">Northern Mariana Islands</option>
					<option value="NO">Norway</option>
					<option value="OM">Oman</option>
					<option value="PK">Pakistan</option>
					<option value="PW">Palau</option>
					<option value="PS">Palestinian Territory, Occupied</option>
					<option value="PA">Panama</option>
					<option value="PG">Papua New Guinea</option>
					<option value="PY">Paraguay</option>
					<option value="PE">Peru</option>
					<option value="PH">Philippines</option>
					<option value="PN">Pitcairn</option>
					<option value="PL">Poland</option>
					<option value="PT">Portugal</option>
					<option value="PR">Puerto Rico</option>
					<option value="QA">Qatar</option>
					<option value="RE">Réunion</option>
					<option value="RO">Romania</option>
					<option value="RU">Russian Federation</option>
					<option value="RW">Rwanda</option>
					<option value="BL">Saint Barthélemy</option>
					<option value="SH">Saint Helena, Ascension and Tristan da Cunha</option>
					<option value="KN">Saint Kitts and Nevis</option>
					<option value="LC">Saint Lucia</option>
					<option value="MF">Saint Martin (French part)</option>
					<option value="PM">Saint Pierre and Miquelon</option>
					<option value="VC">Saint Vincent and the Grenadines</option>
					<option value="WS">Samoa</option>
					<option value="SM">San Marino</option>
					<option value="ST">Sao Tome and Principe</option>
					<option value="SA">Saudi Arabia</option>
					<option value="SN">Senegal</option>
					<option value="RS">Serbia</option>
					<!--<option value="SC">Seychelles</option>-->
					<option value="SL">Sierra Leone</option>
					<option value="SG">Singapore</option>
					<option value="SX">Sint Maarten (Dutch part)</option>
					<option value="SK">Slovakia</option>
					<option value="SI">Slovenia</option>
					<option value="SB">Solomon Islands</option>
					<option value="SO">Somalia</option>
					<option value="ZA">South Africa</option>
					<option value="GS">South Georgia and the South Sandwich Islands</option>
					<option value="SS">South Sudan</option>
					<option value="ES">Spain</option>
					<option value="LK">Sri Lanka</option>
					<!--<option value="SD">Sudan</option>-->
					<option value="SR">Suriname</option>
					<option value="SJ">Svalbard and Jan Mayen</option>
					<option value="SZ">Swaziland</option>
					<option value="SE">Sweden</option>
					<option value="CH">Switzerland</option>
					<!--<option value="SY">Syrian Arab Republic</option>-->
					<option value="TW">Taiwan, Province of China</option>
					<option value="TJ">Tajikistan</option>
					<option value="TZ">Tanzania, United Republic of</option>
					<option value="TH">Thailand</option>
					<option value="TL">Timor-Leste</option>
					<option value="TG">Togo</option>
					<option value="TK">Tokelau</option>
					<option value="TO">Tonga</option>
					<option value="TT">Trinidad and Tobago</option>
					<option value="TN">Tunisia</option>
					<option value="TR">Turkey</option>
					<option value="TM">Turkmenistan</option>
					<option value="TC">Turks and Caicos Islands</option>
					<option value="TV">Tuvalu</option>
					<option value="UG">Uganda</option>
					<option value="UA">Ukraine</option>
					<option value="AE">United Arab Emirates</option>
					<option value="GB">United Kingdom</option>
					<!--<option value="US">United States</option>-->
					<option value="UM">United States Minor Outlying Islands</option>
					<option value="UY">Uruguay</option>
					<option value="UZ">Uzbekistan</option>
					<option value="VU">Vanuatu</option>
					<option value="VE">Venezuela, Bolivarian Republic of</option>
					<option value="VN">Viet Nam</option>
					<option value="VG">Virgin Islands, British</option>
					<option value="VI">Virgin Islands, U.S.</option>
					<option value="WF">Wallis and Futuna</option>
					<option value="EH">Western Sahara</option>
					<option value="YE">Yemen</option>
					<option value="ZM">Zambia</option>
					<option value="ZW">Zimbabwe</option>
				</select>
				<div class="help-block with-errors"></div>
			</div>

			<div class="form-group">
				<label class="form-check-label">
				  <input type="checkbox" class="form-check-input" id="whitelist_check_exclusions"  data-error="This must be checked." required />
				  By checking this box, you agree that you are not a resident of the United States, China, Iran, North Korea, Sudan, Cuba, Seychelles, and Syria.
				</label>
				  <div class="help-block with-errors"></div>
			</div>

			<div class="form-group">
				<label class="form-check-label">
				  <input type="checkbox" class="form-check-input" id="whitelist_check_conditions" data-error="This must be checked." required />
				  By checking this box, you agree with these <a href="/terms"  target="_blank">terms and conditions</a>.
				</label>
				  <div class="help-block with-errors"></div>
			</div>

			<div id="whitelist_captcha_content"></div>
				
		</form>

		<p class="text-center">
			<a href="#" class="btn btn-default btn-lg" onclick="javascript:registerWhitelist()" style="margin-top:20px">
			  <span class="network-name">Register</span>
			</a>
		</p>	  
	  </div>
      <!--<div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>-->
    </div>

  </div>
</div>

    <!-- Footer -->
    <footer>
      <div class="container text-center">
        <p>Copyright &copy; Phantasma 2017</p>
      </div>
    </footer>
		
    <!-- Bootstrap core JavaScript -->
    <script src="js/jquery.min.js"></script>
    <script src="js/popper.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/bootbox.min.js"></script>
	<script src="js/validator.min.js"></script>

    <!-- Plugin JavaScript -->
    <script src="js/jquery.easing.min.js"></script>

    <!-- Google Maps API Key - Use your own API key to enable the map feature. More information on the Google Maps API can be found at https://developers.google.com/maps/ -->
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCRngKslUGJTlibkQ3FkfTxj3Xss1UlZDA&sensor=false"></script>

	<script>
	"use strict"; // Start of use strict
	
	$(function() {
		new WOW().init(); 

		var deadline = new Date(2017, 12 - 1, 12);
		initializeClock('clockdiv', deadline);

		// Closes responsive menu when a scroll trigger link is clicked
		$('.js-scroll-trigger').click(function() {
		$('.navbar-collapse').collapse('hide');
		});

		// Activate scrollspy to add active class to navbar items on scroll
		$('body').scrollspy({
			target: '#mainNav',
			offset: 54
		});

		// Collapse the navbar when page is scrolled
		$(window).scroll(function() {
			if ($("#mainNav").offset().top > 100) {
			  $("#mainNav").addClass("navbar-shrink");
			} else {
			  $("#mainNav").removeClass("navbar-shrink");
			}
		});

		// reload the whitelist
		reloadCaptcha();
	});	
	
	function getTimeRemaining(endtime) {
	  var t = Date.parse(endtime) - Date.parse(new Date());
	  var seconds = Math.floor((t / 1000) % 60);
	  var minutes = Math.floor((t / 1000 / 60) % 60);
	  var hours = Math.floor((t / (1000 * 60 * 60)) % 24);
	  var days = Math.floor(t / (1000 * 60 * 60 * 24));
	  return {
		'total': t,
		'days': days,
		'hours': hours,
		'minutes': minutes,
		'seconds': seconds
	  };
	}

	function initializeClock(id, endtime) {
	  var clock = document.getElementById(id);
	  var daysSpan = clock.querySelector('.days');
	  var hoursSpan = clock.querySelector('.hours');
	  var minutesSpan = clock.querySelector('.minutes');
	  var secondsSpan = clock.querySelector('.seconds');

	  function updateClock() {
		var t = getTimeRemaining(endtime);

		daysSpan.innerHTML = t.days;
		hoursSpan.innerHTML = ('0' + t.hours).slice(-2);
		minutesSpan.innerHTML = ('0' + t.minutes).slice(-2);
		secondsSpan.innerHTML = ('0' + t.seconds).slice(-2);

		if (t.total <= 0) {
		  clearInterval(timeinterval);
		}
	  }

	  updateClock();
	  var timeinterval = setInterval(updateClock, 1000);
	}
	
	var isSubmission = false;
	
	function reloadCaptcha() {
		$.ajax({
			 type: "GET",
			 url: 'captcha',
			 success: function(data) {
				$('#whitelist_captcha_content').html(data);
				  
				$('#whitelistForm').validator().on('submit', function (e) {					
					if (e.isDefaultPrevented()) {
						isSubmission = false;
						// handle the invalid form...
					} else {											
						$('#whitelistModal').on('hidden.bs.modal', function () {
							if (isSubmission) {
								isSubmission = false;
								submitWhitelist();							
							}
						})
						
						isSubmission = true;
						$('#whitelistModal').modal('hide');
				  }
				});
				  
			 }
		});  	   	
	}
	
	var whitelistSubmitted = false;
	
	function submitWhitelist() {
		if (whitelistSubmitted) {
			return;
		}
		var fields = ['name' , 'email', 'wallet', 'country', 'captcha', 'signature'];
		
		var data = {};
		for (var i=0; i<fields.length; i++)
		{
			var key = 'whitelist_'+fields[i];
			var val;
			var element = $("#"+key);

			if (element.is(':checkbox')) {
				val = element.prop('checked') ? "1" : "0";
			}
			else {
				val = element.val();
			}

			if (val || val=="")	{
				data[key] = encodeURIComponent(val);
			}
		}
		
		whitelistSubmitted = true;
		$.post('signup', data)
			.done(function(msg){ 
				var error = null;
				try {
					var obj = JSON.parse(msg);
					
					if (obj.signup.error) {
						error = obj.signup.error;
					}
					else
					if (!obj.signup.result || obj.signup.result != 'success') {
						error = "Server registration seems to have failed";
					}
				}
				catch(err)
				{
					error = "Could not decode server response";
				}
								
				if (error != null) {
					bootbox.alert("Your registration failed, please try again!<br>["+error+"]");
					reloadCaptcha();
				}
				else {							
					bootbox.alert("Your registration was sucessful!");
				}
				
				whitelistSubmitted = false;
			})
			.fail(function(xhr, status, error) {
				bootbox.alert("Your registration failed, please try again!");
				whitelistSubmitted = false;
			});	
	}
	
	function registerWhitelist() {		
		$("#whitelistForm").submit(); 	
	}
	</script>
	
  </body>

</html>
